/* Updated styles for the ClothingAccess component */
.Accessories {
  text-align: center;
  margin: 20px;
}

.accessories-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accessories-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.accessories-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.accessories-item:hover {
  transform: scale(1.05);
}

.price {
  font-weight: bold;
  color: #e60023;
  font-size: 1.2em;
}

.add-to-cart-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: #45a049;
}

.new-arrival {
  border-color: #ffd700;
}

.new-badge {
  background-color: #ffd700;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.item-name-clickable {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 90vh; /* Limits the height to 90% of the viewport */
  overflow-y: auto; /* Enables scrolling within the popup */
  text-align: left;
  position: relative;
  white-space: normal;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
}

.popup-images img {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.accessories-item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 3em; /* Adjust this based on the line-height to show two lines */
  line-height: 1.5em; /* Adjust the line-height if necessary */
}
