.App {
  text-align: center;
}

.App-header {
  background-color: #074088;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
  color: white;
}

.App-nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #5289A1;
  margin: 0;
  display: flex;
  justify-content: center;
}

.App-nav ul li {
  margin: 0 20px;
}

.App-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.App-nav ul li a:hover {
  background-color: #61dafb;
}

.App-image img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.logo-link:hover {
  text-decoration: underline;
}

.logo-link {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.logo-link:hover {
  text-decoration: underline;
}