/* SupplierDashboard.css */

/* General Styles */
.supplier-dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header and Titles */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/* Add Product Section */
.add-product-section {
  margin-bottom: 20px;
}

.open-form-button, .close-form-button, .add-product-button, .toggle-product-history-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.open-form-button:hover, .close-form-button:hover, .add-product-button:hover, .toggle-product-history-button:hover {
  background-color: #0056b3;
}

.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Allow scrolling if needed */
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  max-height: 90vh; /* Set a maximum height for the popup */
  overflow-y: auto; /* Allow vertical scrolling */
}

.add-product-form label {
  display: block;
  margin-bottom: 15px;
}

.add-product-form input[type="text"], .add-product-form textarea, .add-product-form input[type="number"], .add-product-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-product-form input[type="file"] {
  margin-top: 5px;
}

/* Success Popup */
.success-popup {
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Product History Section */
.product-history {
  margin-top: 20px;
}

.product-history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}

.product-history-table th, .product-history-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  background-color: #f2f2f2;

}

.product-history-table th {
  background-color: #5289a1;
}

.product-history-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-history-table tr:hover {
  background-color: #ddd;
}

.product-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.product-item h3 {
  margin: 0;
}

.product-item p {
  margin: 5px 0;
}

/* Delete Button */
.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}
